.avatar {
    width: 32px;
    min-width: 32px;
    height: 48px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.avatar > img {
    width: 100%;
    border-radius: 100%;
    visibility: visible;

    transform: scale(1);
    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.letter:has(.checkbox:checked) > .avatar > img,
.letter:hover > .avatar > img {
    transform: scale(0);
}

.checkbox-label {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 4px;
    color: var(--color-checkbox);
    background: var(--color-checkbox-background);
    border: 1px solid var(--color-seperator-alpha);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox-label > i {
    display: none;
}

.avatar > img, 
.avatar > .checkbox-label {
    grid-area: 1 / 1;
}

.checkbox:checked + .checkbox-label {
    background: var(--color-text-accent);
}
.checkbox:checked + .checkbox-label > i {
    display: inline-block;
    vertical-align: middle;
}
