:root {
    /* --background-select-hover: #005FF97A; */
    --common-border-radius: 12px;
    --button-border-radius: 8px;
    --font-size: 15px;

    --animation_duration_l: 0.4s;
    --animation_duration_m: 0.2s;
    --animation_duration_s: 0.1s;
    --animation_easing_default: cubic-bezier(0.3, 0.3, 0.5, 1);
}


[data-theme="white"] {
    --empty-list-img: url(../assets/empty-list-white.png);
    --empty-list-width: 310px;
    --empty-list-height: 180px;

    --color-background-header: #FFFFFF;

    --color-background-content: #FFFFFF;
    --color-background-content--hover: #F5F5F7;
    --color-background-content--active: #EBECEF;
    
    --color-background: #F6F7F8;
    --color-background--hover: #E6E8EC;
    --color-background--active: #DDDFE4;

    --color-background-secondary-alpha: rgba(0, 16, 61, 0.02);
    --color-background-secondary-alpha--hover: rgba(0, 16, 61, 0.04);
    --color-background-secondary-alpha--active: rgba(0, 16, 61, 0.08);

    --color-text-primary: #2C2D2E;
    --color-text-secondary: #87898F;

    --color-button-text-transparent: #87898F;

    --color-transparent--hover: #00103d2c;
    --color-transparent--active: #00103d42;

    --color-text-accent: #005FF9;
    --color-text-accent--hover: #005CF1;
    --color-text-accent--active: #0059EA;

    --color-text-link: #005FF9;
    
    --color-button-text: #333333;
    --color-button-text--hover: #313233;
    --color-button-text--active: #2F3034;
    --color-button-background-alpha: transparent;
    --color-button-background-alpha--hover: rgba(0, 16, 61, 0.04);
    --color-button-background-alpha--active: rgba(0, 16, 61, 0.08);

    --color-seperator-alpha: rgba(0, 16, 61, 0.12);

    --color-letter-attach-background: linear-gradient(#ECEDF000, #ECEDF0F2);

    --color-sidebar-compose-button-text: #2C2D2E;
    --color-sidebar-compose-button-text--hover: #313233;
    --color-sidebar-compose-button-background: #FFFFFF;
    --color-sidebar-compose-button-background--hover: #F5F5F7;

    --color-box-shadow-layer-1: #00103D29;
    --color-box-shadow-layer-2: #00103D47;

    --color-on-accent-text: #FFFFFF;
    
    --color-checkbox: #FFFFFF;
    --color-checkbox-background: #FFFFFF;

    --color-radio-seperator: rgba(0, 16, 61, 0.12);
    --color-radio-dot: #FFFFFF;

    --color-logo-text: #005FF9;

    --color-filter-text: #2C2D2E;
}

[data-theme="black"] {
    --empty-list-img: url(../assets/empty-list-black.png);
    --empty-list-width: 310px;
    --empty-list-height: 180px;

    --color-background-header: #232324;

    --color-background: #19191A;
    --color-background--hover: #222223;
    --color-background--active: #2B2B2C;
    
    --color-background-content: #232324;
    --color-background-content--hover: #2C2C2D;
    --color-background-content--active: #353536;
    
    --color-background-secondary: #2A2A2B;
    --color-background-secondary--hover: #333333;
    --color-background-secondary--active: #3B3B3C;

    --color-background-secondary-alpha: rgba(255, 255, 255, 0.08);
    --color-background-secondary-alpha--hover: rgba(255, 255, 255, 0.16);
    --color-background-secondary-alpha--active: rgba(255, 255, 255, 0.2);

    --color-text-primary: #E7E8EA;
    --color-text-secondary: #8C8E94;

    --color-button-text-transparent: rgba(255, 255, 255, 0.64);

    --color-transparent--hover: #00103d2c;
    --color-transparent--active: #00103d42;

    --color-text-accent: #3C82FD;
    --color-text-accent--hover: #4487FD;
    --color-text-accent--active: #4C8CFD;

    --color-text-link: #3C82FD;

    --color-button-text: #E7E8EA;
    --color-button-text--hover: #E8E9EB;
    --color-button-text--active: #E9EAEC;
    --color-button-background-alpha: transparent;
    --color-button-background-alpha--hover: rgba(255, 255, 255, 0.04);
    --color-button-background-alpha--active: rgba(255, 255, 255, 0.08);

    --color-seperator-alpha: rgba(0, 0, 0, 0.4);

    --color-letter-attach-background: linear-gradient(#2C2C2D00, #2C2C2DE5);

    --color-sidebar-compose-button-text: #2C2D2E;
    --color-sidebar-compose-button-text--hover: #313233;
    --color-sidebar-compose-button-background: #FFFFFF;
    --color-sidebar-compose-button-background--hover: #F5F5F7;

    --color-box-shadow-layer-1: #00103D29;
    --color-box-shadow-layer-2: #000000b8;

    --color-on-accent-text: #FFFFFF;
    
    --color-checkbox: #FFFFFF;
    --color-checkbox-background: #19191A;

    --color-radio-seperator: #9C9dA2;
    --color-radio-dot: #232324;

    --color-logo-text: #FFFFFF;

    --color-filter-text: #E7E8EA;
}

/* Debugging purpose only */
/* * { border: 1px solid red; } */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: var(--color-text-primary);
    font-family: "Arial", sans-serif;
    font-size: var(--font-size);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    background-color: var(--color-background);
    background-image: var(--background-img-overlay), var(--background-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#root {
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
    row-gap: 12px;
    width: 100vw;
    height: 100vh;

    /* On settings */
    position: absolute;
    top: calc(50% - 50vh);
    left: calc(50% - 50vw);

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

#root > main {
    grid-area: content;
    width: 100%;
    overflow-y: auto;
    padding-right: 12px;
}


#empty-list {
    width: 100%;
    height: calc(100vh - 68px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.empty-list-img {
    background-image: var(--empty-list-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: var(--empty-list-width);
    height: var(--empty-list-height);
}

a {
    text-decoration: none;
    color: var(--color-text-link);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*[hidden] {
    display: none !important;
}

*[invisible] {
    visibility: hidden !important;
}

/* Typography classes */

p, .text {
    margin: 0;
    padding: 0;
    color: currentColor;

    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
}

.text-color-primary {
    color: var(--color-text-primary) !important;
}

.text-color-secondary {
    color: var(--color-text-secondary) !important;
}

.text-color-accent {
    color: var(--color-text-accent) !important;
}

.text-weight-bold {
    font-weight: 700 !important;
}

.text-weight-medium {
    font-weight: 500 !important;
}

.text-weight-regular {
    font-weight: 400 !important;
}

.text-type-letter {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.text-type-footnote {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.text-type-large {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}


h1, .text-type-h1 {
    font-size: 32px;
    line-height: 40px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
}

h2, .text-type-h2 {
    font-size: 24px;
    line-height: 32px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
}

h3, .text-type-h3 {
    font-size: 20px;
    line-height: 28px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
}

note, .text-type-note {
    font-size: 13px;
    line-height: 20px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-underline {
    text-decoration: underline;
}
