/* General */
.ico {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ico * {
    display: inline-block;
    vertical-align: middle;
}

.ico-24 {
    width: 24px;
    height: 24px;
}
.ico-20 {
    width: 20px;
    height: 20px;
}
.ico-16 {
    width: 16px;
    height: 16px;
}

/* Icons */
.icon-archive {
    width: 14px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/archive.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/archive.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-arrow {
    width: 6.5px;
    height: 11px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/arrow.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/arrow.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-attachment {
    width: 16px;
    height: 14.6px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/attachment.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/attachment.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-bookmark-regular {
    width: 10px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/bookmark-regular.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/bookmark-regular.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-bookmark-solid {
    width: 10px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/bookmark-solid.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/bookmark-solid.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-check-big {
    width: 23.5px;
    height: 16.75px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/check-big.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/check-big.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-check {
    width: 8px;
    height: 6px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/check.svg) no-repeat 50% 50%;
    mask: url(../assets/icons/check.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-chevron-down {
    width: 8px;
    height: 5px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/chevron-down.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/chevron-down.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-compose {
    width: 16px;
    height: 16px;
    /* transform: rotate(44.58deg); */
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/compose.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/compose.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-logo-text {
    background-color: currentColor;
    -webkit-mask: url(../assets/logo-text.svg) no-repeat 50% 50%;;
    mask: url(../assets/logo-text.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-done {
    width: 9.4px;
    height: 6.7px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/done.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/done.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-download {
    width: 14px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/download.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/download.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-drafts {
    width: 14px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/drafts.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/drafts.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-exclamation-mark {
    width: 3px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/exclamation-mark.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/exclamation-mark.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-important {
    width: 14px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/important.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/important.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-inbox {
    width: 16px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/inbox.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/inbox.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-plus {
    width: 10px;
    height: 10px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/plus.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/plus.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-radio-dot {
    width: 6px;
    height: 6px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/radio-dot.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/radio-dot.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-sent {
    width: 14px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/sent.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/sent.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-settings {
    width: 15.68px;
    height: 15.89px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/settings.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/settings.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-spam {
    width: 15px;
    height: 13px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/spam.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/spam.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-trash {
    width: 12px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/trash.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/trash.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-unread-dot {
    width: 6px;
    height: 6px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/unread-dot.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/unread-dot.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}



/* Categories */
.icon-билеты {
    width: 16px;
    height: 14px;
    background-color: #3BBAFE;
    -webkit-mask: url(../assets/icons/categories/билеты.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/categories/билеты.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-заказы {
    width: 16px;
    height: 15px;
    background-color: #F94CA3;
    -webkit-mask: url(../assets/icons/categories/заказы.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/categories/заказы.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-путешевствия {
    width: 16px;
    height: 16px;
    background-color: #C15DF3;
    -webkit-mask: url(../assets/icons/categories/путешевствия.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/categories/путешевствия.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-регистрации {
    width: 15.9px;
    height: 15.9px;
    background-color: #EEAC2C;
    -webkit-mask: url(../assets/icons/categories/регистрации.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/categories/регистрации.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-финансы {
    width: 11px;
    height: 14px;
    background-color: #24C780;
    -webkit-mask: url(../assets/icons/categories/финансы.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/categories/финансы.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.icon-штрафы-и-налоги {
    width: 15.88px;
    height: 16px;
    background-color: #EE3C3C;
    -webkit-mask: url(../assets/icons/categories/штрафы-и-налоги.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/categories/штрафы-и-налоги.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-bold {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/bold.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/bold.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-italic {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/italic.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/italic.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-underline {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/underline.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/underline.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-strikethrough {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/strike-through.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/strike-through.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-font {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/font.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/font.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-justify-left {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/justify-left.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/justify-left.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-justify-center {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/justify-center.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/justify-center.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-justify-right {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/justify-right.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/justify-right.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-undo {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/undo.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/undo.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-indent {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/indent.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/indent.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-outdent {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/outdent.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/outdent.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-ordered-list {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/ordered-list.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/ordered-list.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-unordered-list {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/unordered-list.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/unordered-list.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-close {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    -webkit-mask: url(../assets/icons/close.svg) no-repeat 50% 50%;;
    mask: url(../assets/icons/close.svg) no-repeat 50% 50%;;
    -webkit-mask-size: cover;
    mask-size: cover;
}
