#list {    
    background-color: var(--color-background-content);
    border-top-left-radius: var(--common-border-radius);
    border-top-right-radius: var(--common-border-radius);
}

#loading-list {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-content);
    border-bottom-left-radius: var(--common-border-radius);
    border-bottom-right-radius: var(--common-border-radius);
}

.letter {
    width: 100%;
    display: flex;
    height: 48px;
    align-items: stretch;
    border: none;
    border-radius: var(--common-border-radius);
    background: var(--color-background-content);

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.letter:hover {
    background: var(--color-background-content--hover);
    cursor: pointer;
}

.letter-content-wrapper {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 64px);
    align-items: flex-start;
    height: inherit;
}

.letter-content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 48px;
}

.letter-content-wrapper > .divider {
    margin: 0;
    background: var(--color-separator-alpha);
}

.author-name {
    display: flex;
    align-items: center;
    width: 22%;
    min-width: 22%;
    padding-right: 8px;
    height: 100%;
}

.author-name[read="false"] {
    font-weight: bold;
}

.letter:has(.checkbox:checked) {
    background: var(--color-background-content--active);
}

.icon-flag {
    width: 24px;
    min-width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
}

.letter:hover .icon-flag > span.ico > img {
    visibility: visible !important;
}

.message-box {
    width: 100%;
    min-width: 0;
    padding-right: 8px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    gap: 16px;
}

.message-title {
    overflow: unset;
    text-overflow: unset;
}

.message-title[read="false"] {
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.date {
    text-align: right;
    white-space: nowrap;
    min-width: 44px;
}
