:root {
    --color-palette-red1: #fc2c38;
    --color-palette-red1--hover: #F22B38;
    --color-palette-red1--active: #E82A38;
    --color-palette-red2: #eb1981;
    --color-palette-red2--hover: #E2197E;
    --color-palette-red2--active: #D8187C;
    --color-palette-red3: #ff71bb;
    --color-palette-red3--hover: #F56DB6;
    --color-palette-red3--active: #EB69B1;
    --color-palette-orange1: #ff8b2e;
    --color-palette-orange1--hover: #F5862F;
    --color-palette-orange1--active: #EB812F;
    --color-palette-yellow1: #ffc311;
    --color-palette-yellow1--hover: #F5BC13;
    --color-palette-yellow1--active: #EBB515;
    --color-palette-green1: #aee113;
    --color-palette-green1--hover: #A7D915;
    --color-palette-green1--active: #A0D016;
    --color-palette-green2: #59c354;
    --color-palette-green2--hover: #55BC53;
    --color-palette-green2--active: #52B552;
    --color-palette-green3: #37eb94;
    --color-palette-green3--hover: #35E291;
    --color-palette-green3--active: #33D98D;
    --color-palette-green4: #00b1b3;
    --color-palette-green4--hover: #00ABAE;
    --color-palette-green4--active: #00A4AA;
    --color-palette-blue1: #2951ff;
    --color-palette-blue1--hover: #274EF7;
    --color-palette-blue1--active: #264CEF;
    --color-palette-blue2: #00abf2;
    --color-palette-blue2--hover: #00A5EB;
    --color-palette-blue2--active: #009FE4;
    --color-palette-blue3: #26dfdf;
    --color-palette-blue3--hover: #24D7D9;
    --color-palette-blue3--active: #23CED2;
    --color-palette-violet1: #6c00ff;
    --color-palette-violet1--hover: #6801F7;
    --color-palette-violet1--active: #6301EF;
    --color-palette-violet2: #ae73ff;
    --color-palette-violet2--hover: #A76FF7;
    --color-palette-violet2--active: #A06BEF;
    
    --color-palette-gray1: #A5A7AD;
    --color-palette-gray1--hover: #9FA1A7;
    --color-palette-gray1--active: #9A9BA2;
}

.red {
    color: var(--color-palette-red1) !important;
}

.orange {
    color: var(--color-palette-orange1) !important;
}

.yellow {
    color: var(--color-palette-yellow1) !important;
}

.green {
    color :var(--color-palette-green) !important;
}

.blue {
    color: var(--color-palette-blue1) !important;
}

.violet {
    color: var(--color-palette-violet1) !important;
}

.gray {
    color: var(--color-palette-gray1) !important;
}

