.radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
}

.radio-label {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: var(--color-background-content);
    border: 1px solid var(--color-radio-seperator);
    color: var(--color-background-content);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-label > i {
    color: var(--color-radio-dot);
}

.radio:checked + .radio-button > .radio-label {
    background: var(--color-text-accent);
    border: 1px solid var(--color-text-accent);
}
.radio:checked + .radio-button > .radio-label > img {
    display: inline-block;
    vertical-align: middle;
}