#sidebar {
    position: sticky;
    top: 68px; /* 56px + 12px is the height of the header with padding */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 16px;
    padding-bottom: 12px;
    height: calc(100vh - 68px);
    grid-area: sidebar;

    z-index: 9999;
}

.sidebar-content {
    width: 200px;
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-content > *:last-child {
    margin-top: auto;
}

#compose-button {
    color: var(--color-sidebar-compose-button-text) !important;
    background: var(--color-sidebar-compose-button-background) !important;
    border: 1px var(--color-seperator-alpha) solid;
}

#compose-button:hover {
    color: var(--color-sidebar-compose-button-text--hover) !important;
    background: var(--color-sidebar-compose-button-background--hover) !important;
}

.folders {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#settings-button,
.folders > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    height: 36px;
    padding: 8px;
    padding-left: 12px; 
    cursor: pointer;
    gap: 8px;
}

.folders > button[selected] {
    background: var(--color-button-background-alpha--active) !important;
    color: var(--color-button-text--active) !important;
    font-weight: bold;
}

.divider {
    width: 100%;
    height: 1px;
    border-top: thin solid var(--color-seperator-alpha);
    margin: 8px 0;
}

#new-folder-button {
    color: var(--color-button-text-transparent);
}

@media (max-width: 768px) {
    #sidebar {
        width: auto;
    }

    .sidebar-content {
        width: 100%;
        max-width: 100%;
    }

    #compose-button > span.ico {
        display: flex !important;
    }

    #settings-button,
    .folders > button {
        padding-left: 8px;
        justify-content: center; 
    }

    #new-folder-button {
        display: none;
    }

    .divider,
    .sidebar-content #folders > *:last-child {
        display: none;
    }
}