.msgsRoot {
  background-color: var(--body-color);
  border-radius: 12px;
}

.filterTool {
  display: flex;
  flex-direction: row;
  gap: 4px;
  
  padding: 8px 12px;
}

.filterPopup {
  position: fixed;
  right: 12px;
  top: 50px;
  z-index: 200;

  width: 240px;

  background: var(--popup-bg);

  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
  border-radius: 12px;

  padding-top: 8px;
  padding-bottom: 8px;
}

.filterRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  
  height: 40px;
  padding-left: 4px;
}

.unreadIcon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unreadIcon::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background: var(--read-color) !important;
}

.emptyCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  gap: 20px;

  /* Contr-effect maincont */
  margin-top: -68px;
  margin-right: -10px;

  color: var(--bg-button-color);
}

.spacer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lazyMarker {
  height: 70vh;
  width: 1px;
  position: relative;
  opacity: 0;
  z-index: -1;
  top: -70vh;
}

.selectedOp {
  position: fixed;
  background-color: var(--popup-bg);
  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
  bottom: 24px;
  width: 480px;
  height: 36px;

  display: flex;
  flex-direction: row;
  border-radius: 12px;
}

.moveToPop {
  position: fixed;
  background-color: var(--popup-bg);
  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
  bottom: 72px;
  width: 160px;
  right: 24px;

  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
