@import "ui/styles";

.root {
  display: flex;
  flex-flow: row nowrap;

  &__menu {
    flex-shrink: 0;
    width: 190px;
    padding: 20px;

    @include breakpoint(md) {
      width: 260px;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 32px;
  }

  &__language_title {
    display: inline-flex;
    align-items: center;

    & > *:last-child {
      margin-left: 8px;
    }
  }

  & .fade_in {
    opacity: 0;
    animation: fade_in get-theme-var($--theme-anim-fast) forwards;

    @keyframes fade_in {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
