@import "ui/styles";

.root {
  opacity: 1;
  transition: get-theme-var($--theme-anim-default);
  transition-property: background opacity;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
