@import "ui/styles";

.root {
  width: 100%;
  height: 0px;
  transition: get-theme-var($--theme-anim-default);
  transition-property: height;
  overflow: hidden;

  &.visible {
    height: 36px;
  }
}
