@import "../../styles";

$text-presets: (
  h1: $text-preset-h1,
  body: $text-preset-body,
  button: $text-preset-button,
  footnote: $text-preset-footnote,
  hint: $text-preset-hint,
);

$text-colors: (
  primary: $--theme-color-text-primary,
  secondary: $--theme-color-text-secondary,
  ghost: $--theme-color-text-ghost,
  link: $--theme-color-text-link,
);

.root {
  &.crop {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @each $preset, $rules in $text-presets {
    &.#{$preset} {
      @include apply-rules($rules);
    }
  }

  @each $key, $value in $text-colors {
    &.#{$key} {
      color: get-theme-var($value);
    }
  }

  &.bold {
    font-weight: 700;
  }
}
