@import "../../styles";

.root {
  flex-shrink: 0;
  border-radius: $radius-full;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.md {
    width: 32px;
    height: 32px;
  }
}
