@import "../../styles";

.root {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &::before,
  &__border,
  &__checkmark {
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    margin: auto;
    pointer-events: none;
  }

  &::before,
  &__border {
    width: 16px;
    height: 16px;
    border-radius: $radius-xs;
  }

  &__border {
    border: 1px solid get-theme-var($--theme-color-border-primary);
    z-index: 2;
  }

  &::before {
    content: "";
    background: get-theme-var($--theme-bg-control);
    transition: get-theme-var($--theme-anim-fast);
    transition-property: background;
  }

  &__checkmark {
    opacity: 0;
    color: #ffffff;
    transition: get-theme-var($--theme-anim-fast);
    transition-property: opacity;
  }

  &.checked::before {
    background: get-theme-var($--theme-color-icon-accent);
  }

  &.checked &__checkmark {
    opacity: 1;
  }
}
