@import "ui/styles";

.root {
  position: sticky;
  top: -12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  background: get-theme-var($--theme-bg-default);
  transition: $anim-default;
  transition-property: background;
  z-index: 2;

  &__read {
    position: relative;
    left: -24px;
    width: 16px;
    height: 42px;
  }

  &__avatar {
    margin-right: 12px;
    margin-left: -16px;
  }

  &__details {
    display: flex;
    flex-flow: column;

    & > :first-child {
      margin-bottom: 4px;
    }
  }
}
