@import "ui/styles";

.root {
  width: 228px;
  padding: 12px 16px;
  transition-property: width padding;
  transition: get-theme-var($--theme-anim-default);

  &__theme {
    margin-top: auto;
  }

  &.collapsed {
    width: 56px;
    padding: 12px 10px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
    width: 228px;
    padding: 12px 16px;
  }
}
