.wrapper {
  padding: 12px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.addButton {
  appearance: none;
  border: none;
  padding: 4px 8px;
  margin: 0;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 24px;

  color: var(--color-text-primary);

  position: relative;
}

.addButton:hover {
  background: var(--color-background-secondary-alpha);
}

.addButton input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.files {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

.fileWrapper {
  position: relative;
}

.file {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.removeFile {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: var(--color-background-tertiary);
  color: var(--color-text-primary);
  border: solid 1px var(--color-border);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  padding: 0;
  margin: 0;
}
