@import "ui/styles";

.root {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: $radius-md;
  background: transparent;
  color: get-theme-var($--theme-color-text-primary);
  transition: $anim-default;
  transition-property: background;
  cursor: pointer;

  & > * {
    flex-shrink: 0;
  }

  // Elements
  &__read {
    width: 28px;
  }

  &__important {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 100%;
  }

  &__bookmark {
    position: absolute;
    top: 0;
    right: 0;
    flex-shrink: 0;
    width: 48px;
    height: 100%;
  }

  &__avatar {
    margin-right: 12px;
  }

  &__content,
  &__text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
  }

  &__text {
    text-overflow: ellipsis;
    color: get-theme-var($--theme-color-text-secondary);

    & > :first-child {
      margin-right: 8px;
    }
  }

  &__author {
    width: 22%;
    min-width: 22%;
    flex-shrink: 0;
  }

  &__categories {
    min-width: 24px;
    margin: 0 4px;

    & > * {
      cursor: pointer;
    }
  }

  &__attachments {
    border-radius: $radius-sm;

    &:hover {
      background: get-theme-var($--theme-color-state-transparent-hover);
    }
  }

  &__date {
    width: 80px;
    padding: 0 12px 0 8px;
    text-align: right;
  }

  &::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 0;
    left: 72px;
    height: 1px;
    background: get-theme-var($--theme-color-border-primary);
    transition: get-theme-var($--theme-anim-default);
    transition-property: background;
  }

  &:first-child::before {
    background: transparent;
  }

  // Effects
  &:hover {
    background: get-theme-var($--theme-color-state-transparent-hover);
  }

  &:hover::before,
  &:hover + &::before {
    background: transparent;
  }

  & .hover_visible {
    opacity: 0;
    transition: get-theme-var($--theme-anim-default);
    transition-property: opacity;
  }

  & .hover_hidden {
    opacity: 1;
    transition: get-theme-var($--theme-anim-default);
    transition-property: opacity;
  }

  &:hover .hover_visible {
    opacity: 1;
  }

  &:hover .hover_hidden {
    opacity: 0;
  }

  & .hover_shrink {
    transform: scale(1);
    transition: get-theme-var($--theme-anim-default);
    transition-property: transform;
  }

  &:hover .hover_shrink,
  .shrink {
    transform: scale(0);
  }
}
