.root {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 12px;

  &__checkbox {
    position: absolute !important;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }
}
