.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 8px;
}

.image {
  width: 100px;
  height: 100px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./no-items-default.svg");
}

.text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
