.root {
  min-height: 400px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  background-color: var(--popup-bg);
  box-shadow: 0px -3px 48px rgba(0, 16, 61, 0.28);

  z-index: 300;
}

.sidebar {
  width: 260px;
  box-sizing: border-box;

  padding: 20px 17px 0px 20px;
}

.pageSelect {
  height: 40px;
  padding-left: 16px;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.activePage {
  font-weight: 700;
}

.show {
  animation: fade-in 0.1s linear;
}

.hide {
  animation: fade-out 0.1s linear;
}

@keyframes fade-in {
  from {
    bottom: -500px;
  }
  to {
    bottom: 0;
  }
}

@keyframes fade-out {
  from {
    bottom: 0px;
  }
  to {
    bottom: -500px;
  }
}

.page {
  padding: 26px 32px;
  flex: 1;
  border-left: 1px solid #dadce0;
}

.pageTitle {
  font-size: 15px;
  padding-bottom: 20px;
}

.langSelector {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.langSelect {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  font-size: 15px;
  line-height: 20px;
}

.radioBtn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--controls-bg);
}

.radioActive {
  background: #005ff9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
}

.radioBullet {
  margin: auto;
  width: 6px;
  height: 6px;
  background: var(--controls-bg);
  border-radius: 50%;
}

.langBtn {
  margin-top: 32px;
  height: 36px;
  width: 132px;
  text-align: center;

  background: var(--color-background-accent);

  color: #fff;
  justify-content: center;
}

.langBtn:hover {
  background: var(--color-background-accent);
  filter: brightness(1.15);
}

.langBtn:active {
  background: var(--color-background-accent);
  filter: brightness(1.3);
}

.themeFlex { 
  display: flex;
  max-width: 700px;
  flex-direction: row;
  flex-wrap: wrap;
}

.themeSelect {
  margin: 10px;
  position: relative;
}

.themeSelect img {
  display: block;
}

.themeActive {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 95, 249, 0.48);

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.colorTheme {
  width: 67.5px;
  height: 40px;
}