@import "../../styles";

$colors: (
  accent: $--theme-color-icon-accent,
  secondary: $--theme-color-icon-secondary,
  error: $--theme-color-icon-error,
);

.root {
  display: inline-flex;

  @each $token, $color in $colors {
    &.#{$token} {
      color: get-theme-var($color);
    }
  }
}
