.root {
  position: relative;
  width: min-content;
}

.img {
  border-radius: 12px;
  display: block;
  transition: height 0s !important;
}

.failedCont {
  width: 256px;
  height: 192px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.root:hover .download {
  opacity: 1;
}

.root a {
  text-decoration: none;
  color: var(--page-color);
}

.download {
  opacity: 0;

  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  box-sizing: border-box;
  height: 44px;

  background: var(--download-gradient);

  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;

  font-size: 15px;
  line-height: 20px;

  padding-top: 14px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
