.root {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;

  font-size: 15px;

  color: var(--button-color);
  background: none;
  border: none;
  border-radius: 8px;

  text-align: left;

  padding: 10px 12px;
  box-sizing: border-box;

  cursor: pointer;
  user-select: none;
}

.root:hover {
  background: var(--button-hover-bgcolor);
}

.root:active {
  background: var(--button-active-bgcolor);
}

.active {
  background: var(--button-active-bgcolor) !important;
}

.btnText {
  margin-left: 8px;
  display: var(--toolbar-short-hidden);
}

