.newMsgContainer {
  min-width: 28px;
  width: 28px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.newMsg {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.unread {
  background: var(--read-color) !important;
}

.newMsgHover:hover .newMsg {
  background: var(--icon-secondary);
}

.btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 8px;
  box-sizing: border-box;
  user-select: none;
}

.btn:hover {
  background-color: var(--button-hover-bgcolor);
}

.btnPressed {
  background-color: var(--button-active-bgcolor) !important;
}
