.globalCloser {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 199;
}

.show {
  position: relative;
  z-index: 200;
  animation: fade-in 0.15s linear;
}

.hide {
  position: relative;
  z-index: 200;
  animation: fade-out 0.15s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
