@import "../../styles";

.root {
  z-index: 999;
  transform-origin: 50% 50%;
  animation-duration: get-theme-var($--theme-anim-fast-duration);
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-play-state: paused;

  &.opened {
    animation-name: fade-in;
    animation-play-state: running;
    animation-direction: forwards;
  }

  &.closed {
    animation-name: fade-out;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-direction: forwards;
  }

  &.closed_end {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
}
