.theme-base {
  --bg-image: none;
  --page-bg: #f6f7f8;
  --page-color: #2c2d2e;
  --header-color: #fff;
  --body-color: #ffffff;

  --button-color: #333333;
  --button-hover-bgcolor: rgba(0, 16, 61, 0.04);
  --button-active-bgcolor: rgba(0, 16, 61, 0.08);

  --header-button-color: #e7e8ea;
  --bg-button-color: #e7e8ea;
  --bg-button-hover-bgcolor: rgba(255, 255, 255, 0.12);
  --bg-button-active-bgcolor: rgba(255, 255, 255, 0.24);

  --separator-color: rgba(0, 16, 61, 0.12);

  --read-color: #005ff9;
  --icon-primary: #2c2d2e;
  --icon-secondary: #a5a7ad;
  --text-secondary: #87898f;

  --color-border: rgba(0, 16, 61, 0.12);

  --download-gradient: linear-gradient(
    0deg,
    rgba(236, 237, 240, 0.95) 56.81%,
    rgba(236, 237, 240, 0) 104.46%
  );

  --link-color: #005bd1;

  --popup-bg: #fff;
  --logo-color: #fff;
  --color-background-accent: #005ff9;

  --controls-bg: #fff;
}

.theme-light {
  --logo-color: #005ff9;
  --bgcontract-color: #333333;

  --header-button-color: #333333;
  --bg-button-color: #333333;
  --bg-button-hover-bgcolor: rgba(0, 16, 61, 0.04);
  --bg-button-active-bgcolor: rgba(0, 16, 61, 0.08);
}

.theme-lightcolor {
  --bgcontract-color: #333333;

  --header-button-color: #e7e8ea;
  --bg-button-color: #333333;
  --bg-button-hover-bgcolor: rgba(0, 16, 61, 0.04);
  --bg-button-active-bgcolor: rgba(0, 16, 61, 0.08);
}

.theme-dark {
  --page-bg: #19191a;
  --page-color: #e7e8ea;
  --header-color: #232324;
  --body-color: #232324;

  --bgcontract-color: #e7e8ea;

  --button-color: #e7e8ea;
  --button-hover-bgcolor: rgba(255, 255, 255, 0.04);
  --button-active-bgcolor: rgba(255, 255, 255, 0.08);

  --separator-color: rgba(0, 0, 0, 0.4);

  --read-color: #3c82fd;
  --icon-primary: #d9dadd;
  --icon-secondary: #9c9da2;
  --text-secondary: #8c8e94;

  --color-border: rgba(255, 255, 255, 0.16);

  --download-gradient: linear-gradient(
    0deg,
    rgba(44, 44, 45, 0.9) 45.32%,
    rgba(44, 44, 45, 0) 104.46%
  );

  --link-color: #589bff;

  --popup-bg: #303030;

  --color-background-accent: #2775fc;

  --controls-bg: #1F1F1F;
}

.theme-anime {
  --page-bg: linear-gradient(
      180deg,
      rgba(117, 0, 69, 0.64) 0%,
      rgba(0, 9, 83, 0.64) 100%
    ),
    url(./assets/animebg.png), #FFFFFF;
  --header-color: #6b1344;
}

body {
  background: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;

  color: var(--page-color);

  font-family: 'Arial', 'Arial Black';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  --toolbar-size: 232px;
  --toolbar-padding-left: 16px;
  --toolbar-button-padding: 12px;
  --toolbar-short-hidden: unset;
  --toolbar-short-shown: none;
}

@media (max-width: 768px) {
  body {
    --toolbar-size: 60px;
    --toolbar-padding-left: 12px;
    --toolbar-button-padding: 8px;
    --toolbar-short-hidden: none;
    --toolbar-short-shown: unset;
  }
}

* {
  transition: all 0.06s linear;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

b {
  font-weight: bold;
}

body {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

input {
  background: var(--controls-bg);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--page-color);
  height: 36px;
  box-sizing: border-box;
}
