@import "../utils/functions.scss";

$text-preset-h1: create-preset(24px, 700, 28px);
$text-preset-body: create-preset(15px, 400, 20px);
$text-preset-button: create-preset(15px, 400, 20px);
$text-preset-footnote: create-preset(13px, 400, 18px);
$text-preset-hint: create-preset(13px, 400, 20px);
