@import "../../styles";

.root {
  padding: 2px 6px;
  border-radius: $radius-xs;
  box-shadow: get-theme-var($--theme-shadow-tooltip);
  color: get-theme-var($--theme-color-text-primary);
  background-color: get-theme-var($--theme-bg-tooltip);
  border: 1px solid get-theme-var($--theme-color-border-primary);

  @include apply-rules($text-preset-hint);

  white-space: nowrap;
}
