.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 16px 32px 12px 32px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  flex: 1;
}

.tag {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-text-primary);

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
}
