@import "../variables/theme-variables.scss";

@function get-theme-var($key, $fallback: null) {
  @if ($fallback) {
    @return var($key, $fallback);
  } @else {
    @return var($key);
  }
}

@function create-preset($font-size, $font-weight, $line-height) {
  @return (font-size: $font-size, font-weight: $font-weight, line-height: $line-height);
}

@function create-theme($rules, $contrast: null, $extends: null) {
  @return (rules: $rules, contrast: $contrast, extends: $extends);
}
