@import "../variables";

@mixin apply-rules($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "" {
    @content;
  } @else {
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
      @media (min-width: $value) {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
}
