@import "../../styles";

.root {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 12px 16px;
  transition-property: background;
  background: get-theme-var($--theme-bg-header);
  box-shadow: get-theme-var($--theme-shadow-header);
  transition: get-theme-var($--theme-anim-fast);
  z-index: 10;
}
