@import "../../styles";

.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &__icon {
    color: get-theme-var($--theme-color-icon-secondary);
  }

  &.stretch {
    width: 100%;
    height: 100%;
  }
}
