@import "ui/styles";

.root {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__outlined {
    color: get-theme-var($--theme-color-icon-secondary);
  }

  &__filled {
    position: absolute;
    color: get-theme-var($--theme-color-icon-error);
    opacity: 0;
    transition: get-theme-var($--theme-anim-fast);
    transition-property: opacity;
    z-index: 1;
  }

  &.bookmark &__filled {
    opacity: 1;
  }
}
