@import "../../../styles";

.root {
  padding-left: 28px;

  &__text,
  &__right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__right {
    margin-left: auto;
  }
}
