:root {
    --compose-background:#232324;
    --theme_invert: white;
    --button_hover: rgba(255,255,255,0.1);
    --darken-filter: brightness(1);
    --preview-background: rgba(255, 255, 255, 0.4);
}

[data-theme="light"] {
    --compose-background: white;
    --theme_invert: #232324;
    --button_hover: rgba(0, 0, 0, 0.1);
    --darken-filter: brightness(0.2);
    --preview-background: rgba(0, 0, 0, 0.2);
}

@keyframes compose-open {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

@keyframes compose-close {
    from {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
    99% {
        opacity: 0;
        visibility: visible;
        transform: translateX(10%);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: translateX(10%);
    }
}

.compose {
    position: fixed;
    left: 20vw;
    top: 7vh;
    width: 60%;
    height: 86vh;
    z-index: 10000;
    background-color: var(--compose-background);
    border-radius: 1em;
    box-shadow: 0 0.1em 2em rgb(0 0 0 / 22%);
    transition: all 0.4s;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    animation: compose-open 0.2s forwards;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.compose::-webkit-scrollbar {
    display: none;
}

.compose.hidden {
    visibility: hidden;
    opacity: 0;
    animation: compose-close 0.2s forwards;
}

.emailsEditor {
    box-sizing: border-box;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
    max-height: inherit;
    margin-bottom: 10px;
}
  
.emailsEditor__input {
    border: none;
    outline: none;
    max-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-self: stretch;
    flex-grow: 1;
    font-size: 1em;
    background: none;
    color: var(--theme_invert);
}
  
.emailsEditor__input::placeholder {
    color: rgb(110, 108, 118);
}
  
.emailsEditor__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 8px 7px;
    min-height: 27px;
}
  
.emailsEditor__email {
    color: var(--theme_invert);
    margin: 0 8px 4px 0;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    height: 1.15em;
    font-size: 1em;
    font-family: "Arial";
    align-items: center;
}
  
.emailsEditor__email--tag {
    background: rgb(110, 108, 118);
    border-radius: 6em;
}
  
.emailsEditor__email--error {
    border-bottom: 2px solid #d929296d;
}

.emailsEditor__delete-button {
    margin-left: 1em;
    width: 0.7em;
    filter: var(--darken-filter);
}

.emailsEditor__delete-button > img {
    width: 100%;
}

.top-section {
    display: flex;
    border-bottom: #000000 solid 1px;
}

.top-section > img {
    width: 3em;
    height: 3em;
    margin: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.info-section {
    width: 100%;
    display: flex;
    border-bottom: #000000 solid 1px;
}

.info-section.borderless {
    border-bottom: none;
}

.info-section > input {
    width: 100%;
    border: none;
    background: none;
    outline: 0;
    color: var(--theme_invert);
    font-size: 1em;
    margin-left: 0.7em;
}

.info-section > h4 {
    margin: 1em;
    margin-top: 0.7em;
    color: var(--theme_invert);
    font-family: "Arial";
    line-height: 1.2em;
}

.info-section > button {
    margin: 0.7em;
    width: 12em;
    height: 2em;
    border-radius: 0.5em;
    background-color: rgba(0,0,0,0);
    border: none;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme_invert);
    font-size: 1em;
    font-weight: 500;
}

.info-section > button > img {
    width: 1em;
    margin-right: 1em;
    filter: var(--darken-filter);
}

.info-section > button:hover {
    background-color: var(--button_hover);
}

.file-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

.file-preview > div {
    border-radius: 0.5em;
    width: 6em;
    height: 6em;
    background-position: center;
    background-size: cover;
    position: relative;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--preview-background);
}

.file-preview > div > .close-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: none;
    background: var(--preview-background);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    color: white;
    transition: all 0.1s;
}

.file-preview > div > div {
    border-radius: 0.5em;
    opacity: 0;
    transition: all 0.3s;
    backdrop-filter: brightness(50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.file-preview > div:hover > div {
    opacity: 1;
}

.file-preview > div > div > p {
    color: white;
    font-family: "Arial";
    width: 100%;
    height: 2em;
    margin: 0;
    border-radius: 0.48em;
    text-align: center;
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

#main-composition {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#textarea {
    width: 90%;
    border: none;
    color: var(--theme_invert);
    background-color:rgba(125, 125, 125, 0.1);
    border-radius: 0.4vw;
    margin: 2%;
    outline: none;
    min-height: 30vh;
    padding: 4px 8px;
    resize: vertical;
}

#input_preview {
    width: 90%;
    border: none;
    color: var(--theme_invert);
    background-color:rgba(125, 125, 125, 0.1);
    border-radius: 0.4vw;
    margin: 2%;
    font-family: "Arial";
    outline: none;
    min-height: 30vh;
    padding: 4px 8px;
    display: block;
}

#composition-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    padding-bottom: 1em;
}

#composition-buttons > button {
    background: rgba(128, 128, 128, 0.5);
    border: 0;
    font-size: larger;
    width: 7em;
    height: 2em;
    border-radius: 0.5em;
    color: white;
    font-weight: 400;
    transition: all 0.25s;
    cursor: pointer;
}

#composition-buttons > button:hover {
    width: 8em;
}

#composition-buttons > button:active {
    background: var(--theme_invert);
    color: var(--compose-background);
}

#composition-buttons > button.blue:not(:active) {
    background: #365ff6;
}